@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;800;900&family=Poppins:wght@300;400;500;600;700;800&display=swap");

:root {
--background-color: #0D0A0B;
--primary: #454955;
--secundary: #F3EFF5;

}


* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    list-style-type: none;
}

/* barra de nav */

header{
    background-color: #161924;
    display: flex;
    justify-content: space-between;
    
}

main {
    background-color: #000000;
    height: 100vh;
}

.navBar {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font: 14px;
    margin-right: 60px;
}

.navBarList{
    list-style-type: none;
    justify-content: center;
    display: flex;
    gap: 50px;
}

.logo {
    width: 10%;
}

.navBarList li a {
color: var(--secundary);
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-right: 60px;
}

.login a{
    color: var(--secundary);
}

/* WoW info */

#wow {
padding: 4% 7%;
display: flex;
justify-content: center;
align-items: center;
}

.wowInfo {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
}

.wowInfo h1 {
    color: var(--secundary);
    font-size: 40px;
    width: 80%;
    font-weight: 700;
}

.wowInfo p {
    color: var(--secundary);
    font-size: 15;
    width: 70%;
}

.wowInfo p > b {
    font-weight: 800;
}

.wowInfo button{
border-color: none;
background-color: rgb(255, 208, 0);
border-radius: 10px;
width: 120px;
border-color: rgb(255, 208, 0);
}

.botones {
    display: flex;
    gap: 20px;
}

button a {
    color: var(--background-color);
    font-weight: 700;
}

.video {
    display: flex;
    width: 20rem;
    padding-right: 7%;
    flex-direction: column;
}

h3{
    color: var(--secundary);
    font-weight: 700;
}

p{
    color: var(--secundary);
}

.descrip {
    padding: 5% 17%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

span {
    font-weight: 700;
}